* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Arial";
  background-color: black;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* perspective: 100px; */
}

.text {
  background-color: rgb(220, 171, 58);
  color: white;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
}
/* 
.box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
} */

.exercise {
  color: white;
  display: flex;
  gap: 0.5rem;
}

.box {
  position: relative;
  background-color: rgb(58, 179, 220);
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  color: white;
  /* display: grid; */
  /* place-content: center; */
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* margin-top: 10px; */

  /* opacity: 0; */
  /* transition: 0.3s; */
  /* animation: rotateCube 10s 1 forwards; */
  /* transform-style: preserve-3d; */
}

/* Challenge 1 - Exercise 1 */
.arrow {
  position: absolute;
  width: 15px;
  aspect-ratio: 1/1;
  background-color: rgb(58, 179, 220);
  top: 0;
  left: 50%;
  transform: scaleX(0.8) translate(-50%, -50%) rotate(45deg);
}

.close-button {
  position: absolute;
  /* font-family: cursive; */
  font-size: 16px;
  top: 0;
  right: 5px;
  transform: translateY(-100%);
  cursor: pointer;
}
/* 
.text:hover + .box {
  opacity: 1;
}
 */

/* .arrow {
  width: 10px;
  aspect-ratio: 1/1;
  background: rgb(58, 179, 220);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
} */

/* Challenge 1 -  Exercise 2 */
/* .close-button {
  position: absolute;
  right: 5px;
  transform: translateY(-110%);
  cursor: pointer;
} */

/*
  Useful website for transitions:
  https://www.joshwcomeau.com/animation/css-transitions/

  timing-function:
  - linear
  - ease-out (start fast end slow)
   - When would you use ease-out? It's most commonly used when something is entering from off-screen (eg. a modal appearing). It produces the effect that something came hustling in from far away, and settles in front of the user.
   - الاستخدام: مناسب للمواقف التي تريد فيها أن يبدو العنصر كما لو أنه يتباطأ قبل التوقف.

  - ease-in (start slow end fast)
   - Note that ease-in is pretty much exclusively useful for animations that end with the element offscreen or invisible; otherwise, the sudden stop can be jarring.
  - ease-in-out (start slow middle fast end slow)
   - I find this curve most useful for anything that happens in a loop (eg. an element fading in and out, over and over).
  - ease (default):
   - ease is a great option in most cases. If an element moves, and isn't entering or exiting the viewport, ease is usually a good choice.
   - الاستخدام: شائع جداً للاستخدامات العامة لأنه يعطي تأثيرًا سلسًا وجذابًا.
  - steps(4, start | end)
   - animation consist of 4 steps
   - start: in case of 4 steps, the steps are executed at the following timepoints: 0s, 0.25s, 0.5s 0.75s.
   - end: in case of 4 steps, the steps are executed at the following timepoints: 0.25s, 0.5s 0.75s, 1s.

 */

/* Challenge 2 */

.clock-circle {
  position: absolute;
  width: 10px;
  aspect-ratio: 1/1;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

/*
  On page load:
  - The browser applies the final computed value immediately
  - There is no previous value
  - No “change” occurs
  - ❌ Therefore, no transition is triggered

  Transitions only run when a property changes after rendering.

  Page load ≠ property change.
 */
.clock-bar {
  --time: 60s;
  position: absolute;
  background-color: white;
  width: 2px;
  height: 40%;
  margin-top: 10%;
  /* border: 1px solid white; */
  border-radius: 5px;
  top: 0;
  left: 50%;
  translate: -50%;
  transform-origin: bottom center;
  /* rotate: 1turn; */
  /* transition: rotate linear var(--time); */
  animation: animation-clock var(--time) linear infinite;
}

.container:has(.exercise__checkbox:checked) .clock-bar {
  /*
    In order to start a transition, there must be a visual change.
    Here we have to change rotate, e.g. from 1 to 2turn
   */
  animation: animation-clock var(--time) steps(60, start) infinite;
}

@keyframes animation-clock {
  to {
    rotate: 360deg;
  }
}

.num {
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
}

._3 {
  top: 50%;
  left: 1%;
  translate: 0 -50%;
}

._6 {
  top: 100%;
  left: 50%;
  translate: -50% -100%;
}

._9 {
  top: 50%;
  left: 99%;
  translate: -100% -50%;
}

._12 {
  top: 0;
  left: 50%;
  translate: -50%;
}

/*
  Animations (Tips):
  - Use animations carefully
  - Typical Usage:
   1 Change between states
    - Dropdown
    - Modal
     - clicking on a button shows a dialoge with Close button
   2 Deliver messages to users
    - e.g. facebook shows notifications that someone interacted with your comment
    - Confity Animation (progress bar reaches 100% shows party animation)
   3 Feedback animation
    - e.g. showing that a button is clicked
   4 Demonstration
  
  Useful Libraries/Websites:
  - Framer Motion
  - GreenSock
  - GSAP
  - Anime.js
 */
