* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Arial";
  background-color: black;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* perspective: 100px; */
}

.text {
  background-color: rgb(220, 171, 58);
  color: white;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
}

/*
  Useful website for transitions:
  https://www.joshwcomeau.com/animation/css-transitions/

  timing-function:
  - linear
  - ease-out (start fast end slow)
   - When would you use ease-out? It's most commonly used when something is entering from off-screen (eg. a modal appearing). It produces the effect that something came hustling in from far away, and settles in front of the user.
   - الاستخدام: مناسب للمواقف التي تريد فيها أن يبدو العنصر كما لو أنه يتباطأ قبل التوقف.

  - ease-in (start slow end fast)
   - Note that ease-in is pretty much exclusively useful for animations that end with the element offscreen or invisible; otherwise, the sudden stop can be jarring.
  - ease-in-out (start slow middle fast end slow)
   - I find this curve most useful for anything that happens in a loop (eg. an element fading in and out, over and over).
  - ease (default):
   - ease is a great option in most cases. If an element moves, and isn't entering or exiting the viewport, ease is usually a good choice.
   - الاستخدام: شائع جداً للاستخدامات العامة لأنه يعطي تأثيرًا سلسًا وجذابًا.
  - steps(4, start | end)
   - animation consist of 4 steps
   - start: in case of 4 steps, the steps are executed at the following timepoints: 0s, 0.25s, 0.5s 0.75s.
   - end: in case of 4 steps, the steps are executed at the following timepoints: 0.25s, 0.5s 0.75s, 1s.

 */
/*
  On page load:
  - The browser applies the final computed value immediately
  - There is no previous value
  - No “change” occurs
  - ❌ Therefore, no transition is triggered

  Transitions only run when a property changes after rendering.

  Page load ≠ property change.
 */

.box-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.earth, .earth2 {
  width: 150px;
  aspect-ratio: 1/1;
  background-color: rgb(58, 179, 220);
  border-radius: 50%;
  text-align: center;
  position: relative;
}

.earth {
  display: flex;
  align-items: center;
  justify-content: center;
}

.earth2 {
  display: grid;
  place-items: center;
}

.moon-container {
  position: absolute;
  width: 200px;
  aspect-ratio: 1/1;
  /* background-color: red;
  opacity: 0.5; */
  animation: animation-moon 5s linear infinite;
}

@keyframes animation-moon {
  /*
    The transforms order is important here
    1. rotate: This will also rotate the XY axis.
    2. In the new XY axis gotoY -100px
   */
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.moon, .moon2 {
  width: 20px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}

.moon {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
}

.moon2 {
  /* transform-origin: center; */
  animation: animation-moon2 5s linear infinite;
}

@keyframes animation-moon2 {
  /*
    The transforms order is important here
    1. rotate: This will also rotate the XY axis.
    2. In the new XY axis gotoY -100px
   */
  from {
    transform: rotate(0) translateY(-100px);
  }
  to {
    transform: rotate(360deg) translateY(-100px);
  }
}
/*
  Animations (Tips):
  - Use animations carefully
  - Typical Usage:
   1 Change between states
    - Dropdown
    - Modal
     - clicking on a button shows a dialoge with Close button
   2 Deliver messages to users
    - e.g. facebook shows notifications that someone interacted with your comment
    - Confity Animation (progress bar reaches 100% shows party animation)
   3 Feedback animation
    - e.g. showing that a button is clicked
   4 Demonstration
  
  Useful Libraries/Websites:
  - Framer Motion
  - GreenSock
  - GSAP
  - Anime.js
 */
/* 
.earth,
.earth2 {
  background-color: rgb(58, 179, 220);
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: white;
  display: flex;
  place-content: center;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
 */
/* 
.moon-container {
  position: absolute;
  width: 220px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  color: white;
  display: flex;
  place-content: center;
  display: flex;
  animation: moon-animation 5s linear infinite;
}
 */
/* 
.moon,
.moon2 {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
}
 */
/*  
.earth2 {
  display: grid;
  place-content: center;
}

.moon2 {
  animation: moon2-animation 5s linear infinite;
}
 */
/* Keyframes */
/* 
@keyframes moon-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moon2-animation {
  from {
    transform: rotate(0) translateY(-100px);
  }
  to {
    transform: rotate(360deg) translateY(-100px);
  }
}
 */
/* 2-step animations */
/* @keyframes clock-animation {
  from {
    background-color: red;
    width: 50px;
  }
  to {
    background-color: yellow;
  }
} */

/* Multi-step animations */
/* @keyframes clock-animation {
  0% {
    background-color: red;
    width: 50px;
  }
  20% {
    background-color: purple;
    width: 10px;
  }
  40% {
    background-color: blue;
    width: 60px;
  }
  60% {
    background-color: purple;
    width: 10px;
  }
  80% {
    background-color: orange;
    width: 50px;
  }
  100% {
    background-color: yellow;
    width: 10px;
  }
} */
