* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Arial";
  background-color: black;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  background-color: rgb(220, 171, 58);
  color: white;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
}

.box-container {
  /* perspective: 500px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.box {
  position: relative;
  background-color: rgb(58, 179, 220);
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  color: white;
  display: grid;
  place-content: center;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px;

  /* opacity: 0; */
  /* transition: 0.3s; */
}

/* Challenge 1 - Exercise 1 */
.arrow {
  position: absolute;
  width: 15px;
  aspect-ratio: 1/1;
  background-color: rgb(58, 179, 220);
  top: 0;
  left: 50%;
  transform: scaleX(0.8) translate(-50%, -50%) rotate(45deg);
}

.close-button {
  position: absolute;
  /* font-family: cursive; */
  font-size: 16px;
  top: 0;
  right: 5px;
  transform: translateY(-100%);
  cursor: pointer;
}
/* 
.text:hover + .box {
  opacity: 1;
}
 */
